# 富邦 GIS 登入資訊

FUBON_POLICY_NO=你的保單號碼-序號
FUBON_USER_ACCOUNT=你的身分證字號
FUBON_USER_PASSWORD=你的密碼

# 新增下載路徑設定 (範例為 Mac 路徑，Windows 請用 C:/Users/...)
FUBON_DOWNLOAD_PATH="/Users/你的使用者名稱/desktop/insurance/data"